Articulos/xml-resources/web-service-references/Calcular/wsdl/localhost_8080/Calcular/Calcular.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://uniminuto.edu.co/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://uniminuto.edu.co/">

<xs:element name="calcular" type="tns:calcular"/>

<xs:element name="calcularResponse" type="tns:calcularResponse"/>

<xs:complexType name="calcular">
<xs:sequence>
<xs:element name="valor" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calcularResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>